@font-face {
	font-family: "Sacramento";
	src: url("/public/Sacramento-Regular.ttf");
}

body {
	background-color: #FCF6DC;
	margin: 0;
	width: 100%;
}

a {
	color: #5A584F;
	margin-right: 0.75em;
	text-decoration: none;
}

.container {
	background: url("/public/DHAHM-little-songs.jpg") no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #5A584F;
	min-height: 150vh;
	margin: 0;
	text-align: center;
	width: 100%;
}

header {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: space-between;
	width: 100%;
}

.header_link {
	font-family: "Sacramento", cursive;
	font-size: 1.25em;
}

.header_buttons {
	display: inline-block;
	list-style-type: none;
}

.header_icon {
	cursor: pointer;
	transition: all 0.25s ease;
	display: inline-block;
	font-size: 2em;
	margin: 0;
}

.header_icon:hover {
	transform: translateY(5px);
}

.about, .listen {
	margin: 0;
	min-height: 150vh;
	width: 100%;
}

.about {
	background: url("/public/DHAHM-meetings.jpg") no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.about_text {
	float: right;
	margin: 100px 2em;
}

.about_text, .listen_text {
	color: #5A584F;
	font-family: "Times New Roman", serif;
	font-size: 1.25em;
	letter-spacing: 0.5px;
	line-height: 1.5em;
	width: 40%;
}

.listen_text {
	margin: 1em auto;
	text-align: center;
}

.listen_link {
	font-family: "Sacramento", cursive;
	font-size: 1.5em;
}

.albums {
	text-align: center;
	width: 100%;
}

.album {
	display: inline-block;
	margin: 0 auto 2em;
	text-align: center;
	width: 40%;
}
