<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
</head>
<body>
	<div class="about">
		<header>
			<a href="/" class="header_link">Home</a>
			<a href="/listen" class="header_link">Listen</a>
		</header>
		<div class="about_text">
			<p>DHAHM is an elusive electronic music producer whose tracks will make you feel
			like you are inside a high speed ninja robot chase in a dystopian future metropolis.</p> 
		</div>
	</div>
</body>
</html>