<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
</head>
<body>
	<div class="about">
		<header>
			<a href="/">Home</a>
			<a href="/listen">Listen</a>
		</header>
		<img src="/public/DHAHM-meetings.jpg" alt="DHAHM meetings">
	</div>
</body>
</html>