<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
	<link rel="stylesheet" href="public/webfonts/ss-social-regular.css" />
</head>
<body>
	<div class="about">
		{{template "header" .}}
		<div class="about_text">
			<p>DHAHM is an instrumental electronic music producer who aims to tell a story with each little song. The cinematic compositions evoke a scene through lush and textured sound.</p> 
		</div>
	</div>
</body>
</html>