<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
	<link rel="stylesheet" href="public/webfonts/ss-social-regular.css" />
</head>
<body>
	<div class="container">
		{{template "header" .}}
	</div>
</body>
</html>