<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
</head>
<body>
	<div class="container">
		<header>
			<a href="/about" class="header_link">About</a>
			<a href="/listen" class="header_link">Listen</a>
		</header>
	</div>
</body>
</html>