<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
	<link rel="stylesheet" href="public/webfonts/ss-social-regular.css" />
</head>
<body>
	<div class="listen">
		{{template "header" .}}
		<div class="listen_text">
			<p>Hear the complete discography at <a href="https://dhahm.bandcamp.com/" target="_blank" class="listen_link">Bandcamp.</a></p> 
		</div>
		<div class="albums">
			<div class="album">
				<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1588663183/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://dhahm.bandcamp.com/album/blow">Blow by DHAHM</a></iframe>
			</div>
			<div class="album">
				<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=356642129/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://dhahm.bandcamp.com/album/renditions">Renditions by DHAHM</a></iframe>
			</div>
			<div class="album">
				<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2891773328/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://dhahm.bandcamp.com/album/sticky">Sticky by DHAHM</a></iframe>
			</div>
			<div class="album">
				<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3595338821/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://dhahm.bandcamp.com/album/apathy">Apathy by DHAHM</a></iframe>
			</div>
		</div>
	</div>
</body>
</html>