<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DHAHM</title>
	<link rel="stylesheet" href="public/main.css">
</head>
<body>
	<div class="listen">
		<header>
			<a href="/">Home</a>
			<a href="/about">About</a>
		</header>
		<img src="/public/DHAHM-renditions.jpg" alt="DHAHM renditions">
	</div>
</body>
</html>